<table class="background">
        <tr>
            <th class="week main text-head">WK {{dateTime | date :'w'}}</th>
            <th class="title main text-head" colspan="6">Production data</th>
            <th class="date main text-head">{{dateTime | date :'dd.MM.yyyy'}}</th>
        </tr>
        <tr>
                <td class="head column1 text-sub-head">Time/Model</td>
                <td class="head column2-6 text-sub-head">Target</td>
                <td class="head column2-6 text-sub-head">Plan</td>
                <td class="head column2-6 text-sub-head">Produced/Productivity</td>
                <td class="head column2-6 text-sub-head">Deviation of target</td>
                <td class="head column2-6 text-sub-head">Deviation of plan</td>
                <td class="head column7 text-sub-head">FPY, %</td>
                <td class="head column8 text-sub-head">Downtime description</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:2vw;">{{line1time}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2">{{line1target}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2">{{line1plan}}</td>
                <td id="produced1" class="column2-6 text-small text-box" style="font-size:3.8vw;">{{line1produced}}</td>
                <td id="devoftarget1" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td id="devofplan1" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td class="column7 text-box-rowspan" rowspan="2">{{line1fpy}}</td>
                <td class="column8 text-small text-box-rowspan" rowspan="2">{{line1description}}</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:1.8vw;">{{line1model}}</td>
                <td id="productivity1" class="column2-6 text-small text-box" style="font-size:3.8vw; color:white;"></td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:2vw;">{{line2time}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2">{{line2target}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2">{{line2plan}}</td>
                <td class="column2-6 text-small text-box" style="font-size:3.8vw;">{{line2produced}}</td>
                <td id="devoftarget2" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td id="devofplan2" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td class="column7 text-box-rowspan" rowspan="2">{{line2fpy}}</td>
                <td class="column8 text-small text-box-rowspan" rowspan="2">{{line2description}}</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:1.8vw;">{{line2model}}</td>
                <td id="productivity2" class="column2-6 text-small text-box" style="font-size:3.8vw; color:white;"></td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:2vw;">{{line3time}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2">{{line3target}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2">{{line3plan}}</td>
                <td class="column2-6 text-small text-box" style="font-size:3.8vw;">{{line3produced}}</td>
                <td id="devoftarget3" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td id="devofplan3" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td class="column7 text-box-rowspan" rowspan="2">{{line3fpy}}</td>
                <td class="column8 text-small text-box-rowspan" rowspan="2">{{line3description}}</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:1.8vw;">{{line3model}}</td>
                <td id="productivity3" class="column2-6 text-small text-box" style="font-size:3.8vw; color:white;"></td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:2vw;">{{line4time}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2">{{line4target}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2">{{line4plan}}</td>
                <td class="column2-6 text-small text-box" style="font-size:3.8vw;">{{line4produced}}</td>
                <td id="devoftarget4" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td id="devofplan4" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td class="column7 text-box-rowspan" rowspan="2">{{line4fpy}}</td>
                <td class="column8 text-small text-box-rowspan" rowspan="2">{{line4description}}</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:1.8vw;">{{line4model}}</td>
                <td id="productivity4" class="column2-6 text-small text-box" style="font-size:3.8vw; color:white;"></td>
        </tr>
        <tr>
                <td class="column1 text-sub-head text-box footer text-clock" colspan="3">{{dateTime | date :'HH:mm:ss'}}</td>
                <td class="column2-6 text-sub-head text-box footer text-main">50</td>
                <td class="column2-6 text-sub-head text-box footer text-main">220</td>
                <td class="column2-6 text-sub-head text-box footer text-main">120</td>
                <td class="column7 text-sub-head text-box footer text-fpy">99.50</td>
                <td class="column8 text-sub-head text-box footer text-small"></td>
        </tr>



</table>


