<table class="background">
        <tr>
            <th class="week main text-head">WK {{dateTime | date :'w'}}</th>
            <th class="title main text-head" colspan="6">Production data</th>
            <th class="date main text-head">{{dateTime | date :'dd.MM.yyyy'}}</th>
        </tr>
        <tr>
                <td class="head column1 text-sub-head">Time/Model</td>
                <td class="head column2-6 text-sub-head" [(ngModel)]="totalTarget">Target<br />{{totalTarget}}</td>
                <td class="head column2-6 text-sub-head" [(ngModel)]="totalPlan">Plan<br />{{totalPlan}}</td>
                <td class="head column2-6 text-sub-head">Produced/Productivity</td>
                <td class="head column2-6 text-sub-head">Deviation of target</td>
                <td class="head column2-6 text-sub-head">Deviation of plan</td>
                <td class="head column7 text-sub-head" [(ngModel)]="targetFPY">FPY, {{targetFPY}}%</td>
                <td class="head column8 text-sub-head">Downtime description</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:2vw;" [(ngModel)]="line1time">{{line1time}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2" [(ngModel)]="line1target">{{line1target}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2" [(ngModel)]="line1plan">{{line1plan}}</td>
                <td id="produced1" class="column2-6 text-small text-box" style="font-size:3.9vw;" [(ngModel)]="line1produced">{{line1produced}}</td>
                <td id="devoftarget1" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td id="devofplan1" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td class="column7 text-box-rowspan" rowspan="2" [(ngModel)]="line1fpy">{{line1fpy}}</td>
                <td class="column8 text-small text-box-rowspan" rowspan="2" [(ngModel)]="line1description">{{line1description}}</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:1.8vw;" [(ngModel)]="line1model">{{line1model}}</td>
                <td id="productivity1" class="column2-6 text-small text-box" style="font-size:3.8vw; color:white;"></td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:2vw;" [(ngModel)]="line2time">{{line2time}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2" [(ngModel)]="line2target">{{line2target}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2" [(ngModel)]="line2plan">{{line2plan}}</td>
                <td class="column2-6 text-small text-box" style="font-size:3.9vw;" [(ngModel)]="line2produced">{{line2produced}}</td>
                <td id="devoftarget2" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td id="devofplan2" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td class="column7 text-box-rowspan" rowspan="2" [(ngModel)]="line2fpy">{{line2fpy}}</td>
                <td class="column8 text-small text-box-rowspan" rowspan="2" [(ngModel)]="line2description">{{line2description}}</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:1.8vw;" [(ngModel)]="line2model">{{line2model}}</td>
                <td id="productivity2" class="column2-6 text-small text-box" style="font-size:3.8vw; color:white;"></td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:2vw;" [(ngModel)]="line3time">{{line3time}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2" [(ngModel)]="line3target">{{line3target}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2" [(ngModel)]="line3plan">{{line3plan}}</td>
                <td class="column2-6 text-small text-box" style="font-size:3.9vw;" [(ngModel)]="line3produced">{{line3produced}}</td>
                <td id="devoftarget3" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td id="devofplan3" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td class="column7 text-box-rowspan" rowspan="2" [(ngModel)]="line3fpy">{{line3fpy}}</td>
                <td class="column8 text-small text-box-rowspan" rowspan="2" [(ngModel)]="line3description">{{line3description}}</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:1.8vw;" [(ngModel)]="line3model">{{line3model}}</td>
                <td id="productivity3" class="column2-6 text-small text-box" style="font-size:3.8vw; color:white;"></td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:2vw;" [(ngModel)]="line4time">{{line4time}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2" [(ngModel)]="line4target">{{line4target}}</td>
                <td class="column2-6 text-box-rowspan" rowspan="2" [(ngModel)]="line4plan">{{line4plan}}</td>
                <td class="column2-6 text-small text-box" style="font-size:3.9vw;" [(ngModel)]="line4produced">{{line4produced}}</td>
                <td id="devoftarget4" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td id="devofplan4" class="column2-6 text-box-rowspan" rowspan="2"></td>
                <td class="column7 text-box-rowspan" rowspan="2" [(ngModel)]="line4fpy">{{line4fpy}}</td>
                <td class="column8 text-small text-box-rowspan" rowspan="2" [(ngModel)]="line4description">{{line4description}}</td>
        </tr>
        <tr>
                <td class="column1 text-small text-box" style="font-size:1.8vw;" [(ngModel)]="line4model">{{line4model}}</td>
                <td id="productivity4" class="column2-6 text-small text-box" style="font-size:3.8vw; color:white;"></td>
        </tr>
        <tr>
                <td class="column1 text-sub-head text-box footer text-clock" colspan="3">{{dateTime | date :'HH:mm:ss'}}</td>
                <td class="column2-6 text-sub-head text-box footer text-main" [(ngModel)]="totalProduced">{{totalProduced}}</td>
                <td class="column2-6 text-sub-head text-box footer text-main" [(ngModel)]="totalDevTarget">{{totalDevTarget}}</td>
                <td class="column2-6 text-sub-head text-box footer text-main" [(ngModel)]="totalDevPlan">{{totalDevPlan}}</td>
                <td class="column7 text-sub-head text-box footer text-fpy"></td>
                <td class="column8 text-sub-head text-box footer text-small"></td>
        </tr>



</table>


