<div class="home-layout">
  <header class="header">
    <div class="header-row">
      <span class="title">White Board Manager</span>
    </div>
  </header>
  <main class="content">
    <div id="grid-controls">
      <div class="grid-item">
        <p>Customer:</p>
        <select id="customer-select" class="soflow" (change)="onCustomerSelect($event.target.value)">
          <option value="" selected disabled hidden></option>
          <option *ngFor="let customer of Customers" [value]="customer.id">{{customer.name}}</option>
        </select>
      </div>
      <div class="grid-item">
        <p>Line:</p>
        <select id="line-select" class="soflow" (change)="onLineSelect($event.target.value)">
          <option value="" selected disabled hidden></option>
          <option *ngFor="let line of Lines" [value]="line.id">{{line.name}}</option>
        </select>
      </div>
      <div class="grid-item">
        <p>Line:</p>
        <select id="shift-select" class="soflow" (change)="onShiftSelect($event.target.value)">
          <option value="" selected disabled hidden></option>
          <option *ngFor="let shift of Shifts" [value]="shift.id">{{shift.name}}</option>
        </select>
      </div>
    </div>
    <div id="grid-editor">

      <!-- header -->
      <div class="grid-item">
        <p>From time</p>
      </div>
      <div class="grid-item">
        <p>To time</p>
      </div>
      <div class="grid-item">
        <p>Model</p>
      </div>
      <div class="grid-item">
        <p>Plan</p>
      </div>
      <div class="grid-item">
        <p>Target</p>
      </div>
      <div class="grid-item">
        <p>Produced</p>
      </div>
      <div class="grid-item">
        <p>FPY</p>
      </div>
      <div class="grid-item">
        <p>Description</p>
      </div>

      <!-- 1 timeline -->
      <div class="grid-item">
        <input id="from1" type="text" (input)="onFrom1input($event.target.value)">
      </div>
      <div class="grid-item">
        <input id="to1" type="text">
      </div>
      <div class="grid-item">
        <input id="model1" type="text">
      </div>
      <div class="grid-item">
        <input id="plan1" type="text">
      </div>
      <div class="grid-item">
        <input id="target1" type="text">
      </div>
      <div class="grid-item">
        <input id="produced1" type="text">
      </div>
      <div class="grid-item">
        <input id="fpy1" type="text">
      </div>
      <div class="grid-item">
        <textarea id="description1" style="font-size:12px; height:37px; width:300px; resize: none;"></textarea>
      </div>

      <!-- 2 timeline -->
      <div class="grid-item">
        <input id="from2" type="text">
      </div>
      <div class="grid-item">
        <input id="to2" type="text">
      </div>
      <div class="grid-item">
        <input id="model2" type="text">
      </div>
      <div class="grid-item">
        <input id="plan2" type="text">
      </div>
      <div class="grid-item">
        <input id="target2" type="text">
      </div>
      <div class="grid-item">
        <input id="produced2" type="text">
      </div>
      <div class="grid-item">
        <input id="fpy2" type="text">
      </div>
      <div class="grid-item">
          <textarea id="description2" style="font-size:12px; height:37px; width:300px; resize: none;"></textarea>
      </div>

      <!-- 3 timeline -->
      <div class="grid-item">
        <input id="from3" type="text">
      </div>
      <div class="grid-item">
        <input id="to3" type="text">
      </div>
      <div class="grid-item">
        <input id="model3" type="text">
      </div>
      <div class="grid-item">
        <input id="plan3" type="text">
      </div>
      <div class="grid-item">
        <input id="target3" type="text">
      </div>
      <div class="grid-item">
        <input id="produced3" type="text">
      </div>
      <div class="grid-item">
        <input id="fpy3" type="text">
      </div>
      <div class="grid-item">
          <textarea id="description3" style="font-size:12px; height:37px; width:300px; resize: none;"></textarea>
      </div>

      <!-- 4 timeline -->
      <div class="grid-item">
        <input id="from4" type="text">
      </div>
      <div class="grid-item">
        <input id="to4" type="text">
      </div>
      <div class="grid-item">
        <input id="model4" type="text">
      </div>
      <div class="grid-item">
        <input id="plan4" type="text">
      </div>
      <div class="grid-item">
        <input id="target4" type="text">
      </div>
      <div class="grid-item">
        <input id="produced4" type="text">
      </div>
      <div class="grid-item">
        <input id="fpy4" type="text">
      </div>
      <div class="grid-item">
          <textarea id="description4" style="font-size:12px; height:37px; width:300px; resize: none;"></textarea>
      </div>
    </div>
  </main>
</div>