<div class="home-layout">
    <mat-toolbar>
        <span>White Board Manager</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
  <main class="content">
    <div id="grid-controls">
      <div class="grid-item">
          <mat-form-field>
              <mat-select placeholder="Customer" [(ngModel)]="customerSelector">
                <mat-option value="option" *ngFor="let customer of Customers" (click)="onCustomerSelect(customer)">{{customer.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-icon (click)="newCustomer()">add</mat-icon>
            <mat-icon *ngIf="customerSelected" (click)="editCustomer(currentCustomer)">edit</mat-icon>
        <!--<p>Customer:</p>
        <select id="customer-select" class="soflow" (change)="onCustomerSelect($event.target.value)">
          <option value="" selected disabled hidden></option>
          <option *ngFor="let customer of Customers" [value]="customer.id">{{customer.name}}</option>
        </select>-->
      </div>
      <div class="grid-item">
          <mat-form-field>
              <mat-select placeholder="Line" [(ngModel)]="lineSelector">
                <mat-option value="option" *ngFor="let line of Lines" (click)="onLineSelect(line)">{{line.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-icon *ngIf="customerSelected" (click)="newLine()">add</mat-icon>
            <mat-icon *ngIf="lineSelected" (click)="editLine(currentLine)">edit</mat-icon>
            <mat-icon *ngIf="lineSelected" (click)="goToWhiteBoard()">forward</mat-icon>
        <!--<p>Line:</p>
        <select id="line-select" [(ngModel)]="lineSelector" class="soflow" (change)="onLineSelect($event.target.value)">
          <option value="" selected disabled hidden></option>
          <option *ngFor="let line of Lines" [value]="line.id">{{line.name}}</option>
        </select>-->
      </div>
      <!--<div class="grid-item">
        <div style="height:20px"></div>
        <button id="btn-go" type="button" (click)="goToWhiteBoard()">Go</button>
      </div>-->
      <div class="grid-item">
          <mat-form-field>
              <mat-select placeholder="Shift" [(ngModel)]="shiftSelector">
                <mat-option value="option" *ngFor="let shift of Shifts" (click)="onShiftSelect(shift)">{{shift.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-icon *ngIf="lineSelected" (click)="newShift()">add</mat-icon>
            <mat-icon *ngIf="shiftSelected" (click)="editShift(currentShift)">edit</mat-icon>
            <mat-checkbox *ngIf="shiftSelected" [(ngModel)]="isCurrentShift" (change)="onCurrentShiftChange($event)">Current shift</mat-checkbox>
        <!--<p>Shift:</p>
        <select id="shift-select" [(ngModel)]="shiftSelector" class="soflow" (change)="onShiftSelect($event.target.value)">
          <option value="" selected disabled hidden></option>
          <option *ngFor="let shift of Shifts" [value]="shift.id">{{shift.name}}</option>
        </select>-->
      </div>     
    </div>
    <div id="grid-editor">

      <!-- header -->
      <div class="grid-item">
        <p>From time</p>
      </div>
      <div class="grid-item">
        <p>To time</p>
      </div>
      <div class="grid-item">
        <p>Model</p>
      </div>
      <div class="grid-item">
        <p>Target</p>
      </div>
      <div class="grid-item">
        <p>Plan</p>
      </div>
      <div class="grid-item">
        <p>Produced</p>
      </div>
      <div class="grid-item">
        <p>FPY</p>
      </div>
      <div class="grid-item">
        <p>Description</p>
      </div>

      <!-- 1 timeline -->
      <div class="grid-item">
        <input [(ngModel)]="from1" maxlength="5" type="text" (input)="onFrom1input($event.target.value)">
      </div>
      <div class="grid-item">
        <input type="text" [(ngModel)]="to1" maxlength="5" (input)="onTo1input($event.target.value)">
      </div>
      <div class="grid-item">
        <input [(ngModel)]="model1" type="text" (input)="onModel1input($event.target.value)">
      </div>
      <div class="grid-item">
        <input [(ngModel)]="target1" type="number" (input)="onTarget1input($event.target.value)">
      </div>
      <div class="grid-item">
        <input [(ngModel)]="plan1"  type="number" (input)="onPlan1input($event.target.value)">
      </div>
      <div class="grid-item">
        <input [(ngModel)]="produced1" type="number" (input)="onProduced1input($event.target.value)">
      </div>
      <div class="grid-item">
        <input [(ngModel)]="fpy1" type="number" (input)="onFPY1input($event.target.value)">
      </div>
      <div class="grid-item">
        <textarea [(ngModel)]="description1" style="font-size:12px; height:37px; width:300px; resize: none;" (input)="onDescription1input($event.target.value)"></textarea>
      </div>

      <!-- 2 timeline -->
      <div class="grid-item">
          <input [(ngModel)]="from2" type="text" maxlength="5" (input)="onFrom2input($event.target.value)">
        </div>
        <div class="grid-item">
          <input type="text" [(ngModel)]="to2" maxlength="5" (input)="onTo2input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="model2" type="text" (input)="onModel2input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="target2" type="number" (input)="onTarget2input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="plan2" type="number" (input)="onPlan2input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="produced2" type="number" (input)="onProduced2input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="fpy2" type="number" (input)="onFPY2input($event.target.value)">
        </div>
      <div class="grid-item">
          <textarea [(ngModel)]="description2" style="font-size:12px; height:37px; width:300px; resize: none;" (input)="onDescription2input($event.target.value)"></textarea>
      </div>

      <!-- 3 timeline -->
      <div class="grid-item">
          <input [(ngModel)]="from3" type="text" maxlength="5" (input)="onFrom3input($event.target.value)">
        </div>
        <div class="grid-item">
          <input type="text" [(ngModel)]="to3" maxlength="5" (input)="onTo3input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="model3" type="text" (input)="onModel3input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="target3" type="number" (input)="onTarget3input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="plan3" type="number" (input)="onPlan3input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="produced3" type="number" (input)="onProduced3input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="fpy3" type="number" (input)="onFPY3input($event.target.value)">
        </div>
  
      <div class="grid-item">
          <textarea [(ngModel)]="description3" style="font-size:12px; height:37px; width:300px; resize: none;" (input)="onDescription3input($event.target.value)"></textarea>
      </div>

      <!-- 4 timeline -->
      <div class="grid-item">
          <input [(ngModel)]="from4" type="text" maxlength="5" (input)="onFrom4input($event.target.value)">
        </div>
        <div class="grid-item">
          <input type="text" [(ngModel)]="to4" maxlength="5" (input)="onTo4input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="model4" type="text" (input)="onModel4input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="target4" type="number" (input)="onTarget4input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="plan4" type="number" (input)="onPlan4input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="produced4" type="number" (input)="onProduced4input($event.target.value)">
        </div>
        <div class="grid-item">
          <input [(ngModel)]="fpy4" type="number" (input)="onFPY4input($event.target.value)">
        </div>
      <div class="grid-item">
          <textarea [(ngModel)]="description4" style="font-size:12px; height:37px; width:300px; resize: none;" (input)="onDescription4input($event.target.value)"></textarea>
      </div>
    </div>
  </main>

</div>