<div class="background">     
  <div class="week main"> 
    <p class="text-head">WEEK 46</p>
    </div>
    <div class="title main"> 
        <p class="text-head">PRODUCTION DATA</p>  
    </div>
    <div class="date main"> 
        <p class="text-head">DATE 29.11.2017</p>
      </div>
    <div class="column1 main head"> 
    </div>
    <div class="column2-6 main head"> 
    </div>
    <div class="column2-6 main head"> 
    </div>
    <div class="column2-6 main head"> 
    </div>
    <div class="column2-6 main head"> 
    </div>
    <div class="column2-6 main head"> 
    </div>
    <div class="column7 main head"> 
    </div>
    <div class="column8 main head"> 
    </div>

    <div class="column1 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column7 main text-box"> 
    </div>
    <div class="column8 main text-box"> 
    </div>

    <div class="column1 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column7 main text-box"> 
    </div>
    <div class="column8 main text-box"> 
    </div>

    <div class="column1 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column7 main text-box"> 
    </div>
    <div class="column8 main text-box"> 
    </div>

    <div class="column1 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column2-6 main text-box"> 
    </div>
    <div class="column7 main text-box"> 
    </div>
    <div class="column8 main text-box"> 
    </div>

    <div class="column1 main text-box time footer"> 
    </div>
    <div class="column2-6 main text-box footer"> 
    </div>
    <div class="column2-6 main text-box footer"> 
    </div>
    <div class="column2-6 main text-box footer"> 
    </div>
    <div class="column7 main text-box footer"> 
    </div>
    <div class="column8 main text-box footer"> 
    </div>
</div>



