<div class="home-layout">
  <mat-toolbar>
    <span>Settings</span>
  </mat-toolbar>
  <main class="content">
    <div id="grid-controls">

      <div id="grid-head">
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Customer" (change)="getLines($event.target.value)">
              <mat-option value="option" *ngFor="let customer of Customers" [value]="customer.id">{{customer.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-icon ng-click="isReplyFormOpen = !isReplyFormOpen">add</mat-icon>
        <mat-icon>edit</mat-icon>

        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Line">
              <mat-option value="option" *ngFor="let line of Lines" [value]="line.id">{{line.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-icon>add</mat-icon>
        <mat-icon>edit</mat-icon>

      </div>

      <div id="grid-main">
          <div id="grid-main-column1">
        <mat-slide-toggle>Autofill</mat-slide-toggle>
        <mat-slide-toggle>Clean</mat-slide-toggle>

        <mat-form-field>
          <input matInput placeholder="Target FPY">
        </mat-form-field>
      </div>

      <div id="grid-main-column2">
        <mat-form-field>
          <textarea matInput placeholder="Message for clean"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Shifts">
            <mat-option value="option">Shift A</mat-option>
            <mat-option value="option">Shift B</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    </div>



    <!-- <div id="grid-controls">
      <div id="material-list-grid">
        <div id="material-list-item" *ngFor="let customer of Customers">
          <p id="material-list-item-text">{{customer.name}}</p>
          <button id="material-list-item-button"><i class="material-icons">delete</i></button>
        </div>
        <div id="material-list-item">
            <input type="text" placeholder="Add customer" id="material-list-item-input">
            <button id="material-list-item-button"><i class="material-icons">add</i></button>
          </div>
      </div> 
    </div>-->
  </main>
      
 
</div>